body
{
    text-align: center;

    background-color: #fefefe;
    .navbar
    {
        height: 50px;

        color: #e7dacb;
        background: #21374b;
    }
    h1
    {
        font-size: 40px;

        margin-top: 30px;
    }
}
